$white-color: hsl(0, 0%, 98%);
$gray-color: hsl(0, 0%, 41%);
$black-color: hsl(0, 0%, 8%);

$breakpoints: (
  "xs": 0,
  "sm": 576px,
  "md": 768px,
  "lg": 992px,
  "xl": 1200px,
  "xxl": 1400px,
);
